[Desktop Entry]
Name=Libre Fastboot Firmware Flasher
Name[ru]=Libre Fastboot Firmware Flasher
GenericName=Firmware Flasher
GenericName[ru]=Прошивальщик прошивок
Comment=Flash Android firmware via fastboot
Comment[ru]=Прошивка Android-устройств через fastboot
Exec=lfff-gui
Icon=lfff-gui
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=android;fastboot;firmware;flash;oneplus;realme;oppo;
StartupNotify=true
